# Google Tracking Configuration
# Enter your Google Tag Manager ID (preferred for Google/LinkedIn Ads):
NEXT_PUBLIC_GTM_ID=

# Or enter your standalone Google Analytics 4 ID:
NEXT_PUBLIC_GA_ID=

# Optional Google Ads Conversion ID:
NEXT_PUBLIC_GOOGLE_ADS_ID=
